<div class="content">
  <!-- <div class="navbar">
    <div class="bop-tools">BOPTools</div>
</div> -->
<app-navbar></app-navbar>
    <div class="card">
  <div class="innerCard">
    <h1>Sign In</h1>
    <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="password">Password <a href="#">Forget your password?</a></label>
          <input type="password" id="password" placeholder="6+ characters, 1 capital letter">
        </div>
      </form>
    <div class="button-group">
        <button class="signupButton">Sign In</button>
      </div>
      <div class="button-group">
        <button class="googleButton"><img src="assets/google.png" alt="">Continue With Google Account</button>
      </div>
    <div class="centered-link">
<span >Don't have any account?<a href="/signup">Sign Up</a></span>
    </div>
  </div>
      </div>
</div>
