<div class="container">
    <app-navbar></app-navbar><br>
<div class="card">
    <div class="card-header">
      <h2 class="card-title">My Artical</h2>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Select All</th>
            <th>HTML</th>
            <th>Text</th>
            <th>Social</th>
            <th>Add to Folder</th>
            <th>Sitemap</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>What Fruits Have No Calcium</td>
            <td><input type="checkbox" placeholder="check"></td>
            <td><img src="assets/Vector.png" alt=""></td>
            <td><img src="assets/Vector.png" alt=""></td>
            <td><img src="assets/Layer 43.png" alt=""></td>
            <td><img src="assets/Vector (1).png" alt=""></td>
            <td><img src="assets/Group 1000002437.png" alt=""></td>
          </tr>
          <tr>
            <td>What Fruits Have No Calcium</td>
            <td><input type="checkbox" placeholder="check"></td>
            <td><img src="assets/Vector.png" alt=""></td>
            <td><img src="assets/Vector.png" alt=""></td>
            <td><img src="assets/Layer 43.png" alt=""></td>
            <td><img src="assets/Vector (1).png" alt=""></td>
            <td><img src="assets/Group 1000002437.png" alt=""></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
<!-- <div class="boxes">
    <div class="ok">
        <h2>Add to a Folder</h2>
        <label for="file1">Select the folder for these articles to.</label>
        <input type="file" id="file1"/>
        <div class="okbutton">
          <button>Ok</button>
        </div>
      </div>

      <div class="ok">
        <h2>Create Sitemap</h2>
        <label for="text">Generate a sitemap for improved SEO</label>
        <input type="text" id="text" placeholder="Enter the Domain name" />
        <div class="okbutton">
          <button>Ok</button>
        </div>
      </div>
</div> -->

    
</div>