.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
      width: 1440px;
      height: 900px;
      top: 550px;
      left: -720px;
      border: 1px solid #f5f5f5;
      border-radius: 30px;
      background-color: #f5f5f5;
  
    }
    app-navbar{
      width: 100%;
  }
    .card {
       
        width: 1340px;
        height: 313px;
        top: 4977px;
        left: 885px;
        border-radius: 8px;
        opacity: 0.5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding-left: 2rem;
    padding-top: 1rem;
    }


      
      .card-title {
        font-size: 1.5rem;
        margin-bottom: 12px;
      }
      
      .table {
        width: 1240px;
height: 130px;
top: 6046px;
left: -712px;

        border-collapse: collapse;
        border: 1px solid rgba(48, 86, 211, 1);
        
      }
      
      .table th, .table td {
        padding: 16px;
        border-top: 1px solid rgba(48, 86, 211, 1);
        text-align: center;
      }
      
      .table th {
        font-weight: normal;
        padding: 1rem;
      }
      .table th:first-child,
.table td:first-child {
  width: 50%; /* First column takes up half of the table width */
  text-align: left;
}

.table th:not(:first-child),
.table td:not(:first-child) {
  width: calc(50% / 6); /* Divide the remaining space equally among the other 6 columns */
//   text-align: left;
}

.ok{
    width: 302px;
    height: 221px;
    top: 6420px;
    left: -404px;
    
border: 1px;
margin: 1.5rem;
margin-left: 3rem;
background-color: rgb(255, 255, 255);
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
padding-left: 1.5rem;



    // background-color: black;
}
.ok h2{
    width: 100%;
height: 24px;
top: 5256px;
left: -424px;
opacity: 0.5px;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: blue;


}
.ok input{
    width: 246px;
height: 56px;
top: 5285px;
left: -424px;
border-radius: 8px;
border: 1px;
border: 1px solid rgba(48, 86, 211, 1);
padding-left: 1rem;

}
.okbutton{
    margin-top: 1rem;
display: flex;
justify-content: right;
padding-right:2rem
}


button{
    width: Hug (115px);
height: Fixed (40px);
top: 3370px;
left: 506px;
padding: 5px 20px 5px 20px;
border-radius: 8px;
background-color: rgba(48, 86, 211, 1);
color: #f5f5f5;
border: 1px solid blue;
padding: 10px;
padding-left: 15px;
padding-right: 15px;
font-size: large;

  }
  .button{
    // padding-left: 4.3rem;
    margin-top: 5rem !important;
    margin: auto;
  }

  .boxes{
    display: flex;
    margin:2rem;
    
  }