<div class="container">
    <app-navbar></app-navbar>
    <div class="card">
        <div class="row">
            <div class="row1">
                <div class="innerrow">
                    <h2>Topic</h2>
                    <input type="text" placeholder="Enter Your keyword">
                </div>
                <div class="button">
                    <button (click)="generateResult()">Stop</button>
                </div>
            </div>

            <div class="afterbutton">
                <label for="writing">Writing Styles:</label>
    <select id="writing" name="writing">
        <option value="Acadmic">Acadmic</option>
        <option value="Authoritative">Authoritative</option>
        <option value="Conversational">Conversational</option>
        <option value="Empowering">Empowering</option>
        <option value="Engaging">Engaging</option>
        <option value="Entertaning">Entertaning</option>
        <option value="Friendly">Friendly</option>
        <option value="General">General</option>
        <option value="Homurous">Homurous</option>
        <option value="Informative">Informative</option>
        <option value="Inspirational">Inspirational</option>
        <option value="Lighthearted">Lighthearted</option>
        <option value="Opinionated">Opinionated</option>
        <option value="Personal">Personal</option>
        <option value="Persuasive">Persuasive</option>
        <option value="Practical">Practical</option>
        <option value="Professional">Professional</option>
        <option value="Storytelling">Storytelling</option>
        <option value="Thought-provocking">Thought-provocking</option>
    </select>
    
    <label for="article-length" class="Length">Article Length:</label>
    <select id="article-length" name="article-length">
        <option value="short">Short (Less than 500 words)</option>
        <option value="medium">Medium (500 to 1000 words)</option>
        <option value="long">Long (1000 to 2000 words)</option>
        <option value="very-long">Very Long (More than 2000 words)</option>
        <option value="custom">Custom</option>
    </select>
    
            </div>

        </div>

    </div>

    <h1>Your Post is being Generated. Please wait!</h1>

    <div class="loading"></div>
    <!-- <div class="progress-bar">
        <div class="progress progress-filled"></div>
    </div> -->
</div>