<div class="container">
    <app-navbar></app-navbar>
    <div class="content">
<h1>Unleash Your Content's Potential!</h1>
<p>
    Unlock the true potential of your content with our subscription plans, powered by AI for post generation and optimization.
     Effortlessly craft compelling and optimized posts with our innovative tools, leaving you more time to connect with your audience.
      Subscribe now to revolutionize your online presence and maximize the impact of your posts with our cutting-edge capabilities.
       Don't wait any longer; take the first step towards a more engaging and impactful content strategy today.
</p>
    </div>
    <div class="cards">
        <div class="parent" id="fp">
            <div class="first">
                <h1>Free</h1>
                <div class="checkboxes">
                  <label>Credits <span>02</span></label>
                  <label>AI-Generated Post <img src="assets/Check box (4).png" alt=""></label>
                  <label>Post Regeneration <img src="assets/Check box (4).png" alt=""></label>
                  <label>Content Optimization <img src="assets/Check box (4).png" alt=""></label>
                  <label>Grammatical Analysis <img src="assets/Check box (4).png" alt=""></label>
                  <label>Plagiarism Detection <img src="assets/Check box (4).png" alt=""></label>
                  <label>Readability Analysis <img src="assets/Check box (4).png" alt=""></label>
                  <label>SEO Analysis <img src="assets/Check box (4).png" alt=""></label>
                  <label>Spelling Check<img src="assets/Check box (4).png" alt=""></label>
                  <label>Words Count <img src="assets/Check box (4).png" alt=""></label>
                  <label>Writing Styles <img src="assets/Check box (4).png" alt=""></label>

            
                </div>
              </div>
              <button>Subscribe</button>
        
        </div>

            <div class="parent">
                <div class="first">
                    <h1>$30/<span>month</span></h1>
                    <div class="checkboxes">
                      <label>Credits <span>30</span> </label>
                      <label>AI-Generated Post <img src="assets/Check box (1).png" alt=""></label>
                      <label>Post Regeneration <img src="assets/Check box (1).png" alt=""></label>
                      <label>Content Optimization <img src="assets/Check box (1).png" alt=""></label>
                      <label>Grammatical Analysis <img src="assets/Check box (1).png" alt=""></label>
                      <label>Plagiarism Detection <img src="assets/Check box (1).png" alt=""></label>
                      <label>Readability Analysis <img src="assets/Check box (1).png" alt=""></label>
                      <label>SEO Analysis <img src="assets/Check box (1).png" alt=""></label>
                      <label>Spelling Check<img src="assets/Check box (1).png" alt=""></label>
                      <label>Words Count <img src="assets/Check box (1).png" alt=""></label>
                      <label>Writing Styles <img src="assets/Check box (1).png" alt=""></label>
                      
              
                    </div>
                  </div>
                  <button>Subscribe</button>
            
            </div>

              <div class="parent">
                <div class="first">
                    <!-- <h1>Free</h1> -->
                    <h1>$60/<span>month</span></h1>

                    <div class="checkboxes">
                      <label>Credits <span>70</span> </label>
                      <label>AI-Generated Post <img src="assets/Check box (1).png" alt=""></label>
                      <label>Post Regeneration <img src="assets/Check box (1).png" alt=""></label>
                      <label>Content Optimization <img src="assets/Check box (1).png" alt=""></label>
                      <label>Grammatical Analysis <img src="assets/Check box (1).png" alt=""></label>
                      <label>Plagiarism Detection <img src="assets/Check box (1).png" alt=""></label>
                      <label>Readability Analysis <img src="assets/Check box (1).png" alt=""></label>
                      <label>SEO Analysis <img src="assets/Check box (1).png" alt=""></label>
                      <label>Spelling Check<img src="assets/Check box (1).png" alt=""></label>
                      <label>Words Count <img src="assets/Check box (1).png" alt=""></label>
                      <label>Writing Styles <img src="assets/Check box (1).png" alt=""></label>
                    </div>
                  </div>
                  <button>Subscribe</button>
            
            </div>

<div class="parent">
    <div class="first">
        <!-- <h1>Free</h1> -->
        <h1>$200/<span>month</span></h1>

        <div class="checkboxes">
          <label>Credits <span>200</span> </label>
          <label>AI-Generated Post <img src="assets/Check box (1).png" alt=""></label>
          <label>Post Regeneration <img src="assets/Check box (1).png" alt=""></label>
          <label>Content Optimization <img src="assets/Check box (1).png" alt=""></label>
          <label>Grammatical Analysis <img src="assets/Check box (1).png" alt=""></label>
          <label>Plagiarism Detection <img src="assets/Check box (1).png" alt=""></label>
          <label>Readability Analysis <img src="assets/Check box (1).png" alt=""></label>
          <label>SEO Analysis <img src="assets/Check box (1).png" alt=""></label>
          <label>Spelling Check<img src="assets/Check box (1).png" alt=""></label>
          <label>Words Count <img src="assets/Check box (1).png" alt=""></label>
          <label>Writing Styles <img src="assets/Check box (1).png" alt=""></label>
        </div>
      </div>
      <button>Subscribe</button>

</div>
    </div>
</div>