<div class="container">
  <app-navbar></app-navbar>
  <div class="card">
    <div class="row">
      <div class="row1">
        <div class="innerrow">
          <h2>Topic</h2>
          <input type="text" placeholder="Enter Your keyword" />
        </div>
        <div class="button">
          <button (click)="navigateToGeneratePage()">Generate</button>
        </div>
      </div>

      <div class="afterbutton">
        <label for="writing" >Writing Styles:</label>
        <select id="writing" name="writing" (click)="showLabelTable = true; showOkCard = false;">
          <option value="Persuative">Acadmic</option>
          <!-- <option value="saab">Saab</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option> -->
        </select>

        <label for="article-length" class="Length">Article Length:</label>
        <select id="article-length" name="article-length" (click)="showLabelTable = false; showOkCard = true;">
          <option value="short">Short (Less than 500 words)</option>
          <!-- <option value="medium">Medium (500 to 1000 words)</option>
          <option value="long">Long (1000 to 2000 words)</option>
          <option value="very-long">Very Long (More than 2000 words)</option>
          <option value="custom">Custom</option> -->
        </select>
      </div>
    </div>

    <div class="writing">

      <div *ngIf="showLabelTable" class="label-table">
        <!-- Your label table content here -->
        
      <div class="first">
        <p>Select the writing style</p>
        <div class="checkboxes">
          <label> <input type="checkbox" /> Acadmic </label>
          <label> <input type="checkbox" /> Authoritative </label>
          <label> <input type="checkbox" /> Conversational </label>
          <label> <input type="checkbox" /> Educational </label>
          <label> <input type="checkbox" /> Empowering </label>
          <label> <input type="checkbox" /> Engaging </label>
          <label> <input type="checkbox" /> Entertaning </label>
          <label> <input type="checkbox" /> Friendly </label>
          <label> <input type="checkbox" /> General </label>
          <label> <input type="checkbox" /> Homurous </label>
          <label> <input type="checkbox" /> Informative </label>
          <label> <input type="checkbox" /> Inspirational </label>
          <label> <input type="checkbox" /> Lighthearted </label>
          <label> <input type="checkbox" /> Opinionated </label>
          <label> <input type="checkbox" /> Personal </label>
          <label> <input type="checkbox" /> Persuasive </label>
          <label> <input type="checkbox" /> Practical </label>
          <label> <input type="checkbox" /> Professional </label>
          <label> <input type="checkbox" /> Storytelling </label>
          <label> <input type="checkbox" /> Thought-provocking </label>
        </div>
      </div>
      </div>

      <div *ngIf="showOkCard" class="ok-card">
        <!-- Your ok card content here -->
        <div class="ok">
          <h2>Title</h2>
          <input type="text" placeholder="Enter your text" />
          <div class="okbutton">
            <button>Ok</button>
          </div>
        </div>
      </div>


   
    </div>
  </div>
</div>
