<div class="content">
  <app-navbar></app-navbar>
    <div class="card">
  <div class="innerCard">
    <h1>Sign Up</h1>
    <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="6+ characters, 1 capital letter">
        </div>
        <div class="form-group">
          <label for="repeat-password">Repeat Password</label>
          <input type="password" id="repeat-password" placeholder="Repeat your above given password">
        </div>

      </form>
      <div class="button-group">
        <button class="signupButton">Sign In</button>
      </div>
      <div class="button-group">
        <button class="googleButton"><img src="assets/google.png" alt="">Continue With Google Account</button>
      </div>
    <div class="centered-link">
<span >Have you any account?<a href="#">Sign In</a></span>
    </div>
  </div>
      </div>
</div>
