        
        <table>
            <tr>
                <th >SEO</th>
            </tr>
            <tr>
                <td class="cell-width">focus keyphrase</td>
                <td></td>
            </tr>
            <tr>
                <td>title</td>
                <td>maximum 397pixels</td>
            </tr>
            <tr>
                <td>meta description</td>
                <td>minimum 93 letters maximum 118</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="colored-row">keyphrase in title</td>
                <td></td>
            </tr>
            <tr>
                <td class="colored-row">keyphrase in meta description</td>
                <td></td>
            </tr>
            <tr>
                <td class="colored-row">keyphrase in introduction</td>
                <td></td>
            </tr>
            <tr>
                <td class="colored-row">keyphrase in subheadings</td>
                <td>Must in H1, Recomended in H2 and H3</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>keyphrase density</td>
                <td>cgpt minimum 1% maximum 2% of total words</td>
            </tr>
            <tr>
                <td>keyphrase distribution </td>
                <td>cgpt use in title, headings, subheadings, text</td>
            </tr>
            
        </table>
    
        <table>
            <tr>
                <th>READABILITY</th>
            </tr>
            <tr>
                <td class="colored-row cell-width">plagiarism</td>
                <td></td>
            </tr>
            <tr>
                <td class="colored-row">grammer</td>
                <td></td>
            </tr>
            <tr>
                <td class="colored-row">spellings</td>
                <td></td>
            </tr>
            <tr>
                <td>words count</td>
                <td>minimum 300 words</td>
            </tr>
            <tr>
                <td>consecutive sentences</td>
                <td>not a single one</td>
            </tr>
            <tr>
                <td>sentence length</td>
                <td>maximum 25% of the text of 20 words</td>
            </tr>
            <tr>
                <td>paragraph length</td>
                <td>maximum 150 words</td>
            </tr>
            <tr>
                <td>passive voice</td>
                <td>maximum 10% of the text</td>
            </tr>
            <tr>
                <td class="colored-row">subheading distribution</td>
                <td></td>
            </tr>
            <tr>
                <td>transition words</td>
                <td>minimum 15% 25% sentences</td>
            </tr>
            <tr>
                <td>word complexity</td>
                <td>maximum 10% of the text</td>
            </tr>
            
        </table>


