.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
      width: 100%;
      border: 1px solid #f5f5f5;
      border-radius: 30px;
      background-color: #f5f5f5;
  
    }
    app-navbar{
      width: 100%;
    }
    .card {
        // width: 1240px;
        width: 90%;
        // height: 475px;
        height: 45%;
        // top: 2680px;
        // left: 922px;
        border-radius: 8px;
        opacity: 0.5px;
        display: flex;
        justify-content: center;
        align-items: center;
    flex-direction: column; 

    background-color: rgba(255, 255, 255, 1);
        
    //   background-color: aqua;
    margin: 2rem;
    }
    h1{
        // width: 642px;
        width: 55%;
// height: 65px;
font-family: Poppins;
font-size: 30px;
font-weight: 800;
line-height: 45px;
letter-spacing: 0px;
text-align: left;
color: rgba(80, 65, 188, 1);


    }
        .loading {
            width: 180px;
            height: 180px;
            // width: 230px;
            // // width: 30%;
            // height: 230px;
            // height: 30%;
            // top: 2828px;
            // left: 1365px;
            
            border: 20px solid rgba(48, 86, 211, 0.2); /* Blue border color with some opacity */
            border-top: 20px solid rgba(48, 86, 211, 1); /* Blue border color */
            border-radius: 50%; /* Create a circle */
            animation: spin 3s linear infinite; /* Apply rotation animation */
            margin: 0 auto; /* Center the loader horizontally */
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        
        .progress-bar {
            margin-top: 5rem;
            // width: 617px;
            width: 45%;
            height: 15px;
            // top: 3270px;
            // left: 1234px;
            border-radius: 100px;
            border: 1px solid rgba(80, 65, 188, 1);
            
            background-color: #f5f5f5; /* Background color of the progress bar container */
            // border-radius: 10px; /* Rounded corners */
            overflow: hidden; /* Hide overflowing progress */
        }
        
        .progress {
            width: 0;
            height: 100%;
            background-color: rgba(48, 86, 211, 1); /* Blue color for the progress bar */
            transition: width 0.3s ease-in-out; /* Smooth animation */
        }
        
        /* Add this class to control the progress value */
        .progress-filled {
            width: 70%;
            border-radius: 100px; /* Adjust the width to represent the progress (e.g., 50% for half progress) */
        }
        
          button{
  
padding: 5px 20px 5px 20px;
border-radius: 8px;
// gap: 10px;
background-color: rgba(48, 86, 211, 1);
color: #f5f5f5;
border: 1px solid blue;
padding: 10px;
padding-left: 15px;
padding-right: 15px;
font-size: large;

  }
  .button{
    // width: 1340px;
    width: 90%;
    display: flex;
    justify-content: left;
    // padding-left: .25rem;
    margin-bottom: auto;
  }