<div class="container">
    <app-navbar></app-navbar>
    <div class="innerdiv">
        <h1>
            Streamline Your Blog Post With <span>AI</span> Automated Post Optimization & Generation.
           </h1>
           <h2>
            Optimization
           </h2>
           <p>
            Discover the future of effortless blog post optimization Through automatic optimization, advanced AI algorithms work their magic, refining your written content for peak performance. Say goodbye to manual fine-tuning as this innovative tool enhances SEO, readability, and overall impact, ensuring your blog posts shine and captivate your audience effortlessly.
           </p>
           <h2>
            Generation
           </h2>
           <p>
            Unlock boundless creativity with automatic blog post generation! Powered by AI, this revolutionary tool crafts engaging written content at the click of a button. Embrace a world of efficiency and innovation as you effortlessly receive tailor-made blog posts, perfectly suited to your niche and audience, liberating you from writer's block and time constraints. The future of content creation is here!
           </p>
           <div class="button">
            <button>
                Get Started
               </button>
           </div>
    </div>
     

    </div>
